body
{
background-color: hsl(257, 40%, 49%);
color: aliceblue;
background-image: url(bg-desktop.svg);
background-size: cover;
margin: 5%;
}
h1
{
  font-family: 'Poppins', sans-serif;
  font-size: 600;
}
p
{
  font-family: 'Open Sans', sans-serif;
  font-size: 400;
}
.button
{
  font-family: 'Open Sans', sans-serif;
  color: hsl(257, 40%, 49%);
  border-radius: 30%;
  border: solid white;
  font-size: 15px;
  padding-left: 40x;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.text
{
  
  border: solid black;

}
.illustration img
{
  width: 600px;
  border: solid black;
}
.logo
{
  
  
}
.logo img
{
  width: 200px;
  border: solid black;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border:  solid black;
  margin-top: 70px;
}

